section.camping-ads{
    padding: 50px 0;
}

.setas {
    margin: 0 20px 40px 20px;
    font-size: 50px;
}

.recomendado {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.recomendado img {
    width: 33.3%;
    min-width: 320px;
    padding: 0 10px;
}

.recomendado h3{
   /* padding: 10px 0 0 10px;  */
   /* margin: 0; */
   padding-left: 10px;
}

.caixa > h2 {
    margin-top: 30px;
}

@media screen and (max-width: 900px){
    .recomendado {
        flex-wrap: wrap;
    }

    .recomendado img {
        width: 100%;
        /* max-width: 260px;
        text-align: center; */
    }
}