.recomendado {
    display: flex;
    justify-content: space-around;
}
.recomendado img {
    width: 33.3%;
    min-width: 320px;
    padding: 0 10px;
    
}

.recomendado h3{
   padding-left: 10px;
}

div > h2 {
    margin-top: 50px;
}

@media screen and (max-width: 900px){
    .recomendado {
        flex-wrap: wrap;
    }

    .recomendado img {
        width: 100%;
        /* max-width: 260px;
        text-align: center; */
    }
}