section.sobre-camping{
    padding: 50px 0;
}

.info {
    display: flex;
    padding-top: 20px;
}

.info .y-bar {
    width: 1.2px;
    height: 360px;
    background-color: green;
    margin: 10px 30px 10px 150px;
}

.comod-icons {
    display: flex;
}

.comod-icons img {
    margin: 10px 15px;
}

.info h3 {
    padding-top: 30px;
    color: #3C005E;
}

.btn-contato a{
    text-decoration: none;
}

@media screen and (max-width: 635px){
    .info {
        flex-direction: column;
        margin: 0 auto;
    }

    .info .y-bar {
        display: none;
    }
}

@media screen and (max-width: 770px){
    .info .y-bar {
        margin: 10px 15px 10px 40px;
    }
}


