.info {
    display: flex;

}

.info .y-bar {
    width: 1.2px;
    height: 360px;
    background-color: green;
    margin: 10px 30px 10px 150px;
}

.comod-icons {
    display: flex;
}

.comod-icons img {
    margin: 10px 15px;
}

