.imagens img {
    width: 33.3%;
    min-width: 320px;
    padding: 0 10px;
}

@media screen and (max-width:900px){
    .imagens img {
        width: 100%;
        /* max-width: 260px;
        text-align: center; */
    }
    
}