
.formulario-login button i {
  font-size: 30px;
  margin-right: 30px;
}

.formulario-login button:nth-child(2){
  background-color: #306AAD;
}

.formulario-login button:nth-child(3){
  background-color: #EB2E2C;
}

.form-login button.social-button{
  background-color: #6EBF00;
}