#home-bg{
    background-image: url(./images/background-nature.jpg);
    background-size: cover;
    background-position: right;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-bg a{
    color: white;
    font-weight: 900;
    margin-top: 20px;
    display: block;
    text-align: center;
    font-size: 12pt;
    cursor: pointer;
}

.caixa-pesquisa{
    width: 700px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:center;
    flex-wrap: wrap;
}

.caixa-pesquisa h2 {
    margin-bottom: 50px;
    font-size: 20pt;
}

input#search{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    padding: 0 10px;
    cursor: text;
}

input:checked .btn-radio {
    background-color: #3C005E;
}

/* input:focus {
    background-color: rgba(255, 255, 255, 0.2);
} */

form > div {
    text-align: center;
    padding: 30px 0 0 0;
    cursor: pointer;
}

div > input[type=radio]:nth-child(2){
    margin-left: 30px;
    margin-bottom: 50px;
    font-size: 10pt;
}


.btn-buscar{
    width: 250px;
    height:50px;
    background-color: #6EBF00;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12pt;
    font-family: 'Tajawal', sans-serif;
    font-weight: 700;
    padding-top: 8px;
}

@media screen and (max-width:725px){
    .caixa-pesquisa{
        width: 100%;
        flex-direction: column;
    }

    .caixa-pesquisa h2 {
        padding: 0 100px;
        text-align: center;
        font-size: 12pt;
    }

    /* form > div {
        width: 100%;
    } */

    input#search{
        width: 100%;
    }

    section#home-bg a{
        font-size: 10pt;
    }
}

@media screen and (max-width: 360px){
    .caixa-pesquisa{
        height: 450px;
    }
}