#mae{
    padding-top: 50px;
    padding-bottom: 0px;
}
.acesso{margin: 0;
    display: flex;
    justify-content: space-evenly;
}
.espacamento{
    width: 40%;
    margin: 0;
}
.align{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.logar{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 900;
    color: #3C005E;
}
#registro{
    width: 100%
}
.caixas{
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #6EBF00;
    height:auto;
    border-radius: 25px;
}
.wface {
    font-size: 14px;
    margin-bottom: 15px;
    width:60%; 
    background-color: blue;  
    border-radius: 3px; 
    height: 40px; 
    }
    
.wface a {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
  }
  
  .wface a:after {
    content: '\00bb';    
    opacity: 0;
    top: 0;  
    transition: 0.5s;
  }
  
  .wface:hover a {
    padding-right: 25px;
  }
  
  .wface:hover a:after {
    opacity: 1;
    right: 0;
  }
  
.wface a{ 
    height: 40px;
    align-items: center;
    color:  white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.wface p{
    margin: 0;
    padding-right: 20px;  
}

.wface img{
    width: 40px;
    height: 30px;
    padding-left: 10px;
}

.wgoogle{
    font-size: 14px;
    width:60%; 
    box-sizing: border-box;
    border: 1px solid blue; 
    height: 40px; 
    border-radius: 3px
 }

 .wgoogle a {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
  }
  
  .wgoogle a:after {
    content: '\00bb';    
    opacity: 0;
    top: 0;  
    transition: 0.5s;
  }
  
  .wgoogle:hover a {
    padding-right: 25px;
  }
  
  .wgoogle:hover a:after {
    opacity: 1;
    right: 0;
  }

 .wgoogle a{ 
     height: 40px;
    align-items: center;
    color:  blue;
    text-decoration: none;
    display: flex;
    justify-content: space-between;   
 }
.wgoogle p{
    margin: 0;
    padding-right: 20px;  
}

.wgoogle img{
    width: 40px;
    height: 30px;
    padding-left: 10px;
 }

.ou{ 
    font-size: 16px;
    font-weight: 900;
  color: #3C005E;
   margin: 10px 0px;
}
.inputflex{
     display: flex;
     flex-direction: column;
     width: 60%;    
}
.inputs{
    height: 30px;
    margin-bottom: 10px;
     box-sizing: border-box;
     border: 0.6px solid #6EBF00;
     border-radius: 5px;
     padding: 2px;
}
.inputs::placeholder{
    opacity: 0.8;
}
 .agedate{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    height: 20px;
    margin-bottom: 8px;
} 
.agedate input {
    width:30%;
}

.aviso{
    margin: 4px 0px;
    font-size: 12px;
    margin-bottom: 8px;
}   


#enviobtn{
    background-color: #6EBF00;
    border-radius: 5px;
    color: white;
}

#enviobtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#enviobtn:active {
    background-color: #3e8e41;   
    transform: translateY(4px);
}
.camping{
    font-size: 12px;
}
.camping a{
    text-decoration: none;
    color: #6EBF00;
}
.camping a:hover{
    color: #3e8e41;
}
.termos{
    font-size: 12px;
    padding:0px;
    text-align: center;
}
.termos a{
    text-decoration: none;
    color: #6EBF00;
}
.termos a:hover{
    color: #3e8e41;
}
.facerespon{
    display: none;
}
.googlerespon{
    display: none;
}

@media only screen and (max-width: 800px){
     .wface{display:none;}
     .wgoogle{ display: none;}
     .caixas{ 
        height:auto;
        width: 40%;
        }
    .inputs{font-size: 10px;}
    .aviso{font-size: 1px;}
    #login{
        height:330px;
    }

     .facerespon{          
        display: block;
        height: 25px;
        text-align: center;
        margin-bottom: 15px;
        width:40%; 
        background-color: blue;  
        border-radius: 3px;         
        }
       
        .facerespon a img{          
            width: 20px;
            height: 20px;           
        }
       
        .googlerespon{            
        display: block;
        height: 25px;
        text-align: center;
        margin-bottom: 3px;
        width:40%; 
        border-radius: 3px; 
        border: #6EBF00 1px solid;
        }
        .googlerespon img{
            margin-top: 2px;          
            width: 20px;
            height: 20px;           
        }
        .logar{
            font-size: 12px;
            margin: 20px;
        }
        .ou{
                font-size: 12px;
                  font-weight: 900;
                color: #3C005E;
                margin: 10px;
            }
        
        }



